<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
  <%@restaurant.reviews.each do |review|%>
    <p>Anonymous: <%=review.content%> Rating: <%=review.rating%></p>
  <% end %>

<%= link_to "edit", edit_restaurant_path(@restaurant.id) %>
<%= link_to "back", restaurants_path %>
<%= link_to "review", new_restaurant_review_path(@restaurant.id) %>
